<div class="middle_grid">

    <div class="left-container">
        <p id="welcome">Welcome to AirDrummer!</p>
    </div>
    <div class="middle-container">
        <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

        <div id="gesture" [innerHTML]="gesture"></div>
    </div>

    <div class="right-container">
        <div class="grid-item"><button (click)="playClap()"><img class="drum_img" src="..\assets\drum_imgs\Clap.jpg"
                    alt="Picture of hands clapping"></button></div>
        <div class="grid-item"><button (click)="playCrash()"><img class="drum_img"
                    src="..\assets\drum_imgs\Crash-Cymbal.jpg" alt="Picture of hands crash cymbal"></button></div>
        <div class="grid-item"><button (click)="playBass()"><img class="drum_img"
                    src="..\assets\drum_imgs\Drum-Kick.jpg" alt="Picture of Bass Drum"></button></div>
        <div class="grid-item"><button (click)="playFloor()"><img class="drum_img"
                    src="..\assets\drum_imgs\Floor-Tom.jpg" alt="Picture of Floor-Tom"></button> </div>
        <div class="grid-item"><button (click)="playHat()"><img class="drum_img" src="..\assets\drum_imgs\High-Hat.jpg"
                    alt="Picture of high-hat"></button></div>
        <div class="grid-item"><button (click)="playHi()"><img class="drum_img" src="..\assets\drum_imgs\High-Tom.jpg"
                    alt="Picture of high-tom"></button></div>
        <div class="grid-item"><button (click)="playLow()"><img class="drum_img" src="..\assets\drum_imgs\Low-Tom.jpg"
                    alt="Picture of low-tom"></button></div>
        <div class="grid-item"><button (click)="playMid()"><img class="drum_img" src="..\assets\drum_imgs\Mid-Tom.jpg"
                    alt="Picture of mid-tom"></button></div>
        <div class="grid-item"><button (click)="playRide()"><img class="drum_img"
                    src="..\assets\drum_imgs\Ride-Cymbal.jpg" alt="Picture of ride cymbal"></button></div>
        <div class="grid-item"><button (click)="playStick()"><img class="drum_img" src="..\assets\drum_imgs\Sticks.jpg"
                    alt="Picture of sticks"></button></div>
    </div>
</div>


<div class="recording_tools">
    <div class="record_button">
        <button *ngIf="hasstarted == false" id="record_button" (click)="addSound()">Record</button>
        <button *ngIf="hasstarted == true" id="record_button" (click)="stop()">Stop</button>
        <button id="clear_button" (click)="clear()">Clear</button>
    </div>
</div>


<div class="bottom_grid">
    <div class="sound_list">
        <!-- for now i will just assume that 10 is the max for the number of sounds you can put toegther.
        I am doing this because I am setting up a 10 element grid to contain the sounds -->
        <div class="sounds-container">
            <div class="sound-item"><img class="drum_img" id="square0" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square1" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square2" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square"></div>
            <div class="sound-item"><img class="drum_img" id="square3" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square4" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square5" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square6" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square7" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square8" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square9" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
        </div>
    </div>
    <div class="play_button">
        <button id="play_button" (click)="playSounds()">Play All Sounds</button>
    </div>
</div>

<div class="instructions">
    <p>How to play:</p>
    <p>1. Click Start and allow this page to use your camera.</p>
    <p>2. When you are ready click the "Record" button and make some gestures with your hands.<br>
        (At the top-right of the screen you will find a
        guide of the possible sounds and the corresponding hand gesture
        in the bottom left of the image.)
    </p>
    <p>3. After all of the boxes have filled up go ahead and click the "Play All Sounds" button to hear your tune.</p>
    <p>4. Click on the clear button and start a new beat.</p>
</div>