<div class="middle_grid">

    <div class="left-container">
        <p>Hello! Welcome to AirDrummer!</p>
    </div>
    <div class="middle-container">
        <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

        <div id="gesture" [innerHTML]="gesture"></div>
    </div>

    <div class="right-container">
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Clap.jpg" alt="Picture of hands clapping">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Crash_Cymbal.jpg"
                alt="Picture of hands crash cymbal"></div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Drum_Kick.jpg" alt="Picture of Bass Drum">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Floor-Tom.jpg" alt="Picture of Floor-Tom">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\High-Hat.jpg" alt="Picture of high-hat">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\High-Tom.jpg" alt="Picture of high-tom">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Low-Tom.jpg" alt="Picture of low-tom">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Mid-Tom.jpg" alt="Picture of mid-tom">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Ride_Cymbal.jpg"
                alt="Picture of ride cymbal">
        </div>
        <div class="grid-item"><img class="drum_img" src="..\assets\drum_imgs\Sticks.jpg" alt="Picture of sticks"></div>
    </div>
</div>

<div class="recording_tools">
    <div class="record_button">
        <button id="record_button" (click)="addSound()">Record</button>
    </div>
</div>


<div class="bottom_grid">
    <div class="sound_list">
        <!-- for now i will just assume that 10 is the max for the number of sounds you can put toegther.
        I am doing this because I am setting up a 10 element grid to contain the sounds -->
        <div class="sounds-container">
            <div class="sound-item"><img class="drum_img" id="square0" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square1" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square2" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square"></div>
            <div class="sound-item"><img class="drum_img" id="square3" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square4" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square5" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square6" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square7" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square8" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
            <div class="sound-item"><img class="drum_img" id="square9" src="..\assets\drum_imgs\blank.jpg"
                    alt="empty square">
            </div>
        </div>
    </div>
    <div class="play_button">
        <button id="play_button" (click)="playSounds()">Play All Sounds</button>
    </div>
</div>



<button (click)="playBass()">Drum Kick</button>
<button (click)="playHi()">Hi-Tom</button>
<button (click)="playMid()">Mid-Tom</button>
<button (click)="playLow()">Low-Tom</button>
<button (click)="playFloor()">Floor-Tom</button>
<button (click)="playCrash()">Crash Cymbal</button>
<button (click)="playHat()">Hi-Hat</button>
<button (click)="playRide()">Ride Cymbal</button>
<button (click)="playClap()">Clap</button>
<button (click)="playStick()">sticks</button>