.drum_img {

    width: 100%;
    height: 100%;
}

app-handtracker {
    display: block;
    text-align: center;
}

#gesture {
    padding-top: 5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 200%;
}

.middle_grid{
    display: grid;
    grid-template-columns: 20% 30% 50%;
}
.right-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    box-sizing: border-box;
}

.grid-item {
    background-color: white;
    border: 1px solid black;
}

.bottom_grid{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.sounds-container{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    box-sizing: border-box;
}

.sound-item {
    background-color: white;
    border: 1px solid black;
}

#play_button {
    position: relative;
    left: 30%;
    top: 30%;
    background-color: green;
    color: white;
    padding: 5%;
    font-weight: bold;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
#play_button:hover{
    background-color: white;
    color: green;
}

#record_button {
    position: relative;
    left: 5%;
    top: 5%;
    background-color: green;
    color: white;
    padding: 1%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    transition-duration: .4s;
}
#record_button:hover{
    background-color: white;
    color: green;
}


#clear_button {
    position: relative;
    left: 5%;
    top: 5%;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#clear_button:hover{
    background-color: white;
    color: red;
}

#welcome{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-weight: bold;
    text-align: center;

}

p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: medium;
}

